<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/css/index.css">

</head>

<body>
    <ul>
        <li>2</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
    </ul>
    <div>
        <p id="item"></p>
        <img src="../dist/img/h.png">
        <img src="../dist/img/c.png">
    </div>

</body>

</html>
<!--<script>
    var t = $('#item');



    // alert(t);
    console.log(t);


    $('#item').click(function() {
        alert(t);
    });
</script>-->
<script src='../dist/js/jquery-1.12.1.js'></script>
<script src='../dist/js/index.js'></script>